
.section-step{
    width: 100% ;
}
.container-step  {


    
    margin-right: auto !important;
    margin-left: auto !important;
}

.section-body-step {
    padding: 5rem 0 6rem 0;
}

.bg-section-step{
    background-color: #ECEDF1;
    color:#29354B
}

.bg-text-mark-section-step{
color:#5163A3;
font-size: 20px;
}

.mx-42{
    margin-left: 42px;
    margin-right: 42px;
}

.list-circle{


width: 35px;
height: 35px;


background: #29354B;
color: white;
}

.fs-13px{
    font-size: 13px;
}

.text-height{
    line-height: 15.23px !important;
}

.ms-12px{
    
    margin-left: 12px;
}

.bg-step-list{
    color: #29354B;

}

.mx-3-5 {
    
    margin-left: 31px;
    margin-right: 32px;
}

.forAnimation{
    overflow-x: hidden !important; 

}
.stepsNuwy p{
line-height: 21px !important;
}

.puntosStyleStep{
    display:none;
top: 30px;
left: 10px;
}
.puntosStyleStepEnd{
  bottom:-35px !important;
  display:none;
  

}
.puntosImageStepStart{
    display:none;

    width: 182.5px;
height: 185px;
}

.imgPuntos{
        display:none ;


    height: 270.15px !important; 
    
}
.textTitleNuwySteps{
    width: 270px !important;

 }

@media (min-width: 576px) {

  }

@media (min-width: 768px) 
{ 
    .textTitleNuwySteps{
        width: 270px !important;
    
     }
  
 }

@media (min-width: 992px) {  
    .stepsNuwy{
        padding:0 101px;
    }
    .puntosStyleStep{
        display: block;
    }
    .puntosStyleStepEnd{
        display: block;
    }
    .puntosImageStepStart{
        display: block;
    }
   .imgPuntos{
    display: block;
   }
   .textTitleNuwySteps{
    width: 340px !important;

 }
 
}

@media (min-width: 1200px) { 
    
    .stepsNuwy{
        padding:0 10rem;
    }
    .puntosStyleStep{
        display: block;
    }

    .puntosStyleStepEnd{
        display: block;
    }
    .puntosImageStepStart{
        display: block;
    }
   .imgPuntos{
    display: block;
   }
   .textTitleNuwySteps{
    width: 345px !important;

 }
 }

@media (min-width: 1400px) {

    .stepsNuwy{
        padding:0 10rem;
    }
    .textTitleNuwySteps{
        width: 340px !important;
    
     }
    
 
  }
  @media (min-width: 1600px) {
      
    .stepsNuwy{
        padding:0 17rem;
    }
    .textTitleNuwySteps{
        width: 340px !important;
    
     }
    
    }