.text-benefits{
    color:#29354B;
}

.text-size-benefits-card{
font-size: 13px;
line-height: 15.23px !important;
}

.text-weight-normal{
    font-weight: 400;
}
.mx-1-5{
    margin-left: 1px !important;
    margin-right: 1px !important;
}

.h-card{
    height: 207px !important;
}

.mx-4-5{
    margin-left: 1.8rem;
    margin-right: 1.8rem;
}

.text-light-nuwy{

    color:#ECEDF1;

}
.sendMoneyHome{
    width: 296px !important;
height: 48px !important;
}

@media (min-width: 576px) {  }

@media (min-width: 768px) {  }

@media (min-width: 992px) {  
    .benefitsSection{
        padding:0 98px;
    }
    
    
}

@media (min-width: 1200px) { 

   
 }

@media (min-width: 1400px) {

   
  }