.card-remesas{
    background-color: #5163A3;
}

.mt-80{
    margin-top: 74px;
}

.card-remesas{
    max-width: max-content !important;
}
.card-remesas p,span{
    font-size: 11px;
}
.card-remesas p {
    line-height: 13px;
}
.card-remesas span{
    font-weight: 700;
}

.btnReset{
    background-color: unset;
    border:unset;
    border-style: unset;
    
}




@media (min-width: 576px) {

}

@media (min-width: 768px) 
{ 
    
 }

@media (min-width: 992px) {  

}

@media (min-width: 1200px) { 
.formRemesasStep{
margin-left: 7rem;
margin-right: 7rem;
}
}

@media (min-width: 1400px) {

 
}
