.spanMoneyIcon{
    z-index: 100 !important;
    color: violet;
    padding-top:3px !important ;
 

}
.icon-money{
  
    font-size: 25px !important;
  font-weight: 500 !important;
  color:#6A6E78 !important;
}

.spanSegurity{
  margin: 1.5rem 0;
}


@media (min-width: 576px) {  }

@media (min-width: 768px) {  }

@media (min-width: 992px) {  

  .spanSegurity{
    margin: 0.5rem  0 !important;
  }
.formConvert{
  padding: 0 42px;
}
}

@media (min-width: 1200px) { 
  
 }

@media (min-width: 1400px) {  }