.spanMoneyIcon{
    z-index: 100 !important;
    color: violet;
    padding-top:3px !important ;
 

}
.icon-money{
  
    font-size: 25px !important;
  font-weight: 500 !important;
  color:#6A6E78 !important;
}
