.title-acordion{
    font-weight: 400 !important;
}

.text-title-nuwy{
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.label-text{
    font-size: 13px !important;
}

.textarea-mensaje{
    width: 100%;
    border-style: none;
    border-radius: 8px;
    height: 100px ;
    resize: none;
}

.form-none{
    border-style: none;
}




@media (min-width: 576px) {

}

@media (min-width: 768px) 
{ 
    
 }

@media (min-width: 992px) {  
  
.sectionAnsweAndContact{
    margin-left:10rem ;
    margin-right: 10rem;
}

.sectionContact{
    margin-left:7rem ;
    margin-right: 7rem;
}
 

}

@media (min-width: 1200px) { 

}

@media (min-width: 1400px) {

 
}
