.text-about-us {

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom:2rem ;
margin-top: 2rem;
}

.section-persons{
    background-color: #F7F7F7;
    height: auto;
}

.title-font{

}


@media (min-width: 576px) {

}

@media (min-width: 768px) 
{ 
    
 }

@media (min-width: 992px) {  
    .sectionAboutUs{
    
        margin-left: 20rem;
        margin-right: 20rem;
    }
 

}

@media (min-width: 1200px) { 

}

@media (min-width: 1400px) {

 
}
