.text-about-us p{

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom:2rem ;
margin-top: 2rem;
}

.section-persons{
    background-color: #F7F7F7;
    height: auto;
}

.title-font{

}