.bg-footer{
    background-color: #0C1D3C !important;
}

.container-footer{
    width: 100%;
    padding: 0 2.62rem;
    color: white;
}

.shadow-xl{
    box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.25) !important;
}
.pb-10{
    margin-bottom: 6rem;
}


.py-6{
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}


footer p{
    font-weight: 300;
    font-size: 12px;
    margin: 8px 0;
    line-height: 14px;
}

footer ul{
    padding-left: 0;
}

.pb-4-5{
    padding-bottom: 2.2rem;
}