@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

ul{
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif !important;
}

*{
    font-family: 'Roboto', sans-serif !important;
    scroll-behavior: smooth;

}
a{
   text-decoration: none !important;

}

html{
    min-height: 100%;
    position: relative;
}

body.modal-open .bg{
    filter:blur(3px);
    position: absolute;
    transition: transform 0.1s ease-out !important;


}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.modal.fade .modal-dialog{
    transition: transform 0.1s ease-out !important;
}