.accordion-button-nuwy {
  width: 100%;

  background-color: unset !important;
  border-style: unset;

  color: white;

  padding: 10px 0;
}

.accordion-button {
  color: white;
  background-color: white;
}

.accordion-button-nuwy {
  background-repeat: no-repeat;
  background-size: 1.25rem;
}
.bg-nonde {
  background-color: unset !important;
}

.acordion-style {
  border-left: 2px white solid;
}
.nuwy-card-acordion {
  
  background-color: unset;
  color: white;
  border: 1px solid white !important;
  border-radius: 8px;
  max-width: 1400px;
  margin: auto;
}
.header-nuwy-card {
  border: unset;
  background-color: unset;
}

.text-body-answer {
  font-size: 13px;
}


.icon-add{
    animation-name: icon-add;
  -webkit-animation-name: icon-add;

}

.icon-line {
  -webkit-animation-name: icon-line;
  animation-name: icon-line;
}
.animate {
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}
@keyframes icon-add {
    0% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  

@keyframes icon-line {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
