.card-resume-step3 {
  border-radius: 8px !important;
  background-color: white !important;
  width: 295px;
}
.card-resume-step3 h6 {
  font-size: 13px;
  font-weight: 700;
}

.card-resume-step3 .body-list-data ul li {
  font-size: 11px !important;
  margin-top: 18px;
}
.body-list-data {
  margin-right: 25px;
}
.bg-step-3-form {
  border: 1px solid #5dad1f;
  background-color: unset;
  color: #5dad1f;
  width: 38px;
  height: 38px;
}

.step-3-span {
  font-size: 24px !important;
  top: 40%;
}

.text-step-3 {
  font-size: 11px;
  font-weight: 500;
}

.input-file {
  opacity: 0;
  z-index: -1;
  cursor: pointer;
}

input[type="file"] {
  opacity: 0;
  z-index: -1;
  cursor: pointer;
}

.label-file {
  width: 100%;
  border-style: dashed;
  border-radius: 8px;
  border-width: 2px;
  border-color: white;
height: 87px;

  color: white;
  font-size: 11px;
}
