.spanText {
  color: #a8c4f9;
  font-weight: 400;
  font-size: 11px;
}

.btn-nuwy-steps {
  background-color: #5dad1f !important;
  color: #ffffff !important;

  padding: 8px 0 !important;

  font-size: 20px !important;
  border-radius: 8px !important;
width: 100%;
height: 50px !important;
}

.bg-nuwy-number{
  background-color: #BBBBBB !important;
}

.form-step-1 {
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  background: #ffffff !important;
  padding: 6px 0 5px 20px !important;

  border-radius: 8px;

width: 100%;
  height: 50px !important;
  color: #6a6e78 !important;
  font-weight: 500 !important;
}

.bg-step-form {
  background-color: #5163a3;
}
.text-body-form {
  font-size: 12px;
  color: #ffffff;
}

.title-size-form {
  font-size: 15px;
}

select {
  width: 100%;
  background: #ffffff !important;
  border: 1px solid #ffffff !important;
  border-radius: 8px !important;
  padding: 6px 0 5px 20px !important;
  height: 50px !important;
  color: #6a6e78 !important;

}

.btn-nuwy-step{
  width: 30%;
  height: 50px;
  font-weight: 500;
  border-radius: 8px;
  background-color: #ffffff;
  text-align: center;
  display: flex;
align-items: center;
justify-content: center;


}

.checkbox-nuwy input[type="radio"]{
  visibility: hidden;
	position: absolute;
	right: 0;
}
.actives{

  background-color: #5DAD1F !important;
  color: #ffffff !important;
}

.span-nuwy-step{
  line-height: 12,89px;
  font-size: 11px;
}
.mx-8{
  margin-right: 4rem;
  margin-left: 4rem;
}

.mt-4-5{
  margin-top: 2.5rem;
}

.btn-cancel-step{
  width: 100%;
  height: 50px;
  border: 1px solid white;
  border-radius: 8px !important;
  color: white;
  font-size: 20px;
}

.stepResponsive{
  display: none !important;
}


@media (min-width: 576px) {

}

@media (min-width: 768px) 
{ 
    
 }

@media (min-width: 992px) {  
  
.stepResponsive{
  display: block !important;
}
.sectionStepsContainer{
background-color: #2A4372;
border-radius: 20px;
box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.1);
margin-bottom: 5rem;
margin-left:5rem ;
margin-right: 5rem;
}
.sectionStepsBody{
  margin-left:6rem ;
  margin-right: 6rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

}

@media (min-width: 1200px) { 
  .actives{

    background-color: #FF710B !important;
    color: #FFFFFF !important;

  
  }
  .btn-radio-nuwy{
    background-color: #DADADA;
    color: #18305D ;
  }
  
}

@media (min-width: 1400px) {

 
}
